<div class="homeContainer">
  <div class="homeIntro">
    <h2>Lans</h2>
    <p>Accesorios</p>
  </div>
  <div class="menuPrueba">
    <h3>Menu Prueba</h3>
    <div class="linksPrueba">
      <a href="/realtimeproducts">realtimeproducts</a>
      <a href="/products">productos</a>
      <a href="/profile">profile</a>
      <a href="/login">login</a>
    </div>
  </div>
</div>