<d<div class="formContainer">
  <h2>Iniciar Sesión</h2>
  <form id="accessForm">
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      type="email"
      placeholder="example@gmail.com"
    />
    <label for="password">Contraseña</label>
    <input name="password" type="password" placeholder="********" />
    <input class="loginBtn" type="submit" value="Iniciar Sesion" />
  </form>
  <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
</div>

<script src="/js/login.js"></script>